* {
  list-style-type: none !important;
}

body {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  height: 3000px;
}

a {
  color: #233645;
}

a:hover {
  text-decoration: none;
  color: #233645;
}

.top-sticky-sec {
  padding: 15px 0;
  border-bottom: 1px solid #e7e7e7;
}

.top-sticky-sec p {
  padding: 0;
  margin: 0;
}

.top-sticky-sec p a {
  text-decoration: underline;
  font-weight: 600;
}

.top-sticky-sec .sticky-contact {
  font-weight: 700;
}

.top-sticky-sec .sticky-contact a {
  position: relative;
  margin-left: 30px;
}

.top-sticky-sec .sticky-contact a:nth-child(2)::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  height: 19px;
  width: 1px;
  border-left: 1px solid #dddddd;
}

.top-sticky-sec .sticky-contact a:nth-child(3) {
  margin-left: 30px;
}

.top-sticky-sec .sticky-contact .icons {
  margin-left: 23px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
}

nav .active {
  color: #1ebeb6 !important;
}

nav .navbar-brand {
  padding: 20px 15px;
}

nav #navbarSupportedContent ul .d-toggle::after {
  content: "\f107";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  transition-delay: 0.01s;
  transition: all 0.33s;
  line-height: 1;
}

nav #navbarSupportedContent ul .d-toggle:hover::after {
  content: "\f106";
}

nav #navbarSupportedContent ul .dropdown-menu {
  width: 250px;
  transition: 1s;
  margin: 0 !important;
}

nav #navbarSupportedContent ul .dropdown-menu .dropdown-item {
  color: #333333;
  font-family: "Inter", sans-serif;
  padding: 5px 15px;
  font-weight: 600;
  font-size: 13.5px;
  letter-spacing: 0.06em;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

nav #navbarSupportedContent ul .dropdown-menu .dropdown-item:hover {
  color: #1ebeb6 !important;
}

nav #navbarSupportedContent ul .nav-link {
  color: #333333;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.06em;
  padding: 35px 15px;
  transition: all 0.3s;
  transition-delay: 0.1s;
}

nav #navbarSupportedContent ul .nav-link:hover {
  color: #1ebeb6 !important;
}

nav .attr-nav ul {
  margin: 0;
  padding: 0;
}

nav .attr-nav ul .contact {
  padding: 18px 0;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

nav .attr-nav ul .contact .fa-stethoscope {
  margin-right: 15px;
  font-size: 46px;
  position: relative;
  float: left;
  color: #1ebeb6;
  top: 3px;
}

nav .attr-nav ul .contact p {
  font-family: "Inter", sans-serif;
  color: #666666;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

nav .attr-nav ul .contact p strong {
  font-family: "Inter", sans-serif;
  color: #666666;
  display: block;
  font-size: 18px;
}

@keyframes dropdownOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .carousel-inner .carousel-item {
  display: flex;
  align-items: center;
}

header .carousel-inner .carousel-item .table-words h4 {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
}

header .carousel-inner .carousel-item .table-words h2 {
  color: white;
  font-weight: 300;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 25px;
}

header .carousel-inner .carousel-item .table-words h2 strong {
  font-weight: 900;
}

header .carousel-inner .carousel-item .table-words .discover-button {
  padding: 15px 25px;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 15px;
  margin-right: 5px;
  background: linear-gradient(90deg, #1ebeb6 0%, #00827c 100%);
  transition: all 0.35s ease-in-out;
  color: white;
}

header .carousel-inner .carousel-item .table-words .discover-button:hover {
  color: white;
}

header .carousel-inner .carousel-item .table-words .discover-button i {
  text-align: center;
  height: 30px;
  background: #ffffff;
  color: #1ebeb6;
  line-height: 30px !important;
  width: 30px;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 10px;
}

header .carousel-inner .item {
  animation: bgZoom 20s;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100vh !important;
  width: 100% !important;
}

header .carousel-inner .item::after {
  background: #000000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@keyframes bgZoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}
/*# sourceMappingURL=style.css.map */