.pageload {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: url(../images/preloader.gif) center no-repeat white;
}
* {
  list-style-type: none !important;
}
body {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
}
a {
  font-family: Inter, sans-serif;
  color: #233645;
  &:hover {
    text-decoration: none;
    color: #233645;
  }
}
