* {
  list-style-type: none !important;
}
body {
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  line-height: 30px;
}
a {
  color: #233645;
  &:hover {
    text-decoration: none;
    color: #233645;
  }
}
