%main-buttons {
  padding: 15px 25px;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 15px;
  margin-right: 5px;
  background: linear-gradient(
    90deg,
    rgba(30, 190, 182, 1) 0%,
    rgba(0, 130, 124, 1) 100%
  );
  transition: all 0.35s;
  color: white;
  &:hover {
    color: white;
  }
  i {
    text-align: center;
    height: 30px;
    background: white;
    color: $mainCol;
    line-height: 30px !important;
    width: 30px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 10px;
  }
}
%divider {
  width: 30px;
  border: 1px solid $mainCol;
  display: inline-block;
}
