.breadcrumbs {
  padding: 150px 0;
  @media only screen and (max-width: 991.98px) {
    padding: 80px 0;
  }
  background: linear-gradient(
    90deg,
    rgba(30, 190, 182, 1) 0%,
    rgba(0, 130, 124, 1) 100%
  );
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(/images/breadcrumb/9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    opacity: 0.5;
  }
  h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
  }
  .breadcrumb-tool {
    ul {
      @media only screen and (max-width: 991.98px) {
        margin-top: 20px;
      }
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        position: relative;
        &:last-of-type {
          a {
            color: #dddddd !important;
          }
          text-decoration: underline;
        }
        &:not(:last-of-type) {
          &::after {
            content: "\f111";
            position: absolute;
            font-weight: 400;
            font-family: "Font Awesome 5 Pro";
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color: white;
            font-size: 7px;
            right: -11px;
            top: 11px;
          }
        }
        margin: 0 7px;
        padding: 0 7px;
        a {
          font-family: Inter, sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: white;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
