.consultations {
  padding: 120px 0;
  .padding-r {
    padding-right: 65px;
    h2 {
      font-weight: 600;
      margin-bottom: 25px;
      color: $darkCol;
    }
    .cards {
      .card {
        margin-top: 30px;
        padding: 35px 25px;
        background: white;
        text-align: center;
        border: 2px solid $mainCol;
        border-radius: 0;
        .icon {
          .far,
          .fas {
            font-size: 55px;
            color: $mainCol;
          }
        }
        h5 {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 600;
          color: $darkCol;
        }
      }
    }
  }
  .appointment-form {
    background: $mainCol;
    padding: 60px 37px;
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      left: -30px;
      top: -30px;
      content: "";
      height: 100%;
      width: 100%;
      background: $mainCol;
      z-index: -1;
      opacity: 0.2;
    }
    h4 {
      text-transform: capitalize;
      font-weight: 600;
      color: #ffffff;
      position: relative;
      z-index: 1;
    }
    input,
    #dropdownMenuButton {
      &::placeholder {
        color: #ffffff;
      }
      margin-bottom: 1rem;
      background: rgba(255, 255, 255, 0.1);
      width: 100%;
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 0 25px;
      color: #ffffff;
      min-height: 50px;
      line-height: 1.5;
      font-size: 1rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    #submit {
      background: white;
      width: 100%;
      border-radius: 30px;
      border: 1px solid white;
      padding: 0 25px;
      color: $mainCol;
      min-height: 50px;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
