.consultations {
  padding: 120px 0;
  .padding-r {
    padding-right: 65px;
    h2 {
      font-weight: 600;
      margin-bottom: 25px;
      color: $darkCol;
    }
    .cards {
      .card {
        margin-top: 30px;
        padding: 35px 25px;
        background: white;
        text-align: center;
        border: 2px solid $mainCol;
        border-radius: 0;
        .icon {
          .far,
          .fas {
            font-size: 55px;
            color: $mainCol;
          }
        }
        h5 {
          margin-top: 20px;
          font-size: 18px;
          font-weight: 600;
          color: $darkCol;
        }
      }
    }
  }
  .appointment-form {
    text-align: center;
    background: $mainCol;
    padding: 60px 37px;
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      left: -30px;
      top: -30px;
      content: "";
      height: 100%;
      width: 100%;
      background: $mainCol;
      z-index: -1;
      opacity: 0.2;
    }
    h4 {
      text-transform: capitalize;
      font-weight: 600;
      color: #ffffff;
      position: relative;
      z-index: 1;
    }
    .img-holder {
      margin: 15px 0 25px 0;
    }
    input,
    .dropdown-toggle {
      position: relative;
      &:focus {
        outline: none;
      }
      &::after {
        content: "\f107";
        position: absolute;
        top: 17px;
        right: 14px;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        transition-delay: 0.01s;
        transition: all 0.33s;
        line-height: 1;
        border: 0;
        vertical-align: baseline;
      }
      &::placeholder {
        color: #ffffff;
      }
      text-align: left;
      margin-bottom: 1rem;
      background: rgba(255, 255, 255, 0.1);
      width: 100%;
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 0 25px;
      color: white;
      min-height: 50px;
      line-height: 1.5;
      font-size: 1rem;
    }
    .dropdown-menu {
      top: -12px !important;
      left: 0 !important;
      .dropdown-item {
        &:active {
          color: $darkCol;
          background-color: white;
        }
        cursor: pointer;
        font-size: 14px;
        line-height: 30px;
        min-height: 40px;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        display: block;
        margin: 0;
      }
      .selected-option {
        font-weight: bold;
      }
    }
    .dropdown.show {
      .dropdown-toggle {
        &::after {
          content: "\f107";
          transform: rotate(-180deg);
        }
      }
      .dropdown-menu {
        padding: 0 !important;
        animation: dropAnime 0.3s forwards !important;
      }
    }

    #submit-book {
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
      }
      background: white;
      width: 100%;
      border-radius: 30px;
      border: 1px solid white;
      padding: 0 25px;
      color: $mainCol;
      min-height: 50px;
      line-height: 1.5;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}
@keyframes dropAnime {
  0% {
    transform: scale(0.7, 0.7) translate3d(-20px, 20px, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(6px, 63px, 0);
    opacity: 1;
  }
}
