.contact {
  padding: 120px 0;
  .bg-img {
    background-image: url(../../images/contact/1.jpg);
    background-position: center center;
    background-size: cover;
    .contact-info {
      background-color: white;
      position: absolute;
      left: 30px;
      bottom: 0;
      padding: 30px;
      right: 30px;
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        li {
          margin: 0 30px;
          h5 {
            font-weight: 600;
            text-transform: uppercase;
            color: $darkCol;
            margin-bottom: 10px;
            font-size: 18px;
            i {
            }
          }
          span {
          }
        }
      }
    }
  }
  .form-title {
    h2 {
      font-weight: 600;
      margin-bottom: 5px;
      color: $darkCol;
    }
    h3 {
      font-weight: 600;
      margin-bottom: 20px;
      color: $mainCol;
    }
  }
  form {
    input {
      min-height: 50px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #e7e7e7;
      padding: 0;
    }
    textarea {
      min-height: 150px;
      height: auto;
      border: none;
      border-bottom: 1px solid #e7e7e7;
      padding: 0;
      border-radius: 0;
      overflow: auto;
      resize: vertical;
    }
    #submit {
      background: linear-gradient(
        90deg,
        rgba(30, 190, 182, 1) 0%,
        rgba(0, 130, 124, 1) 100%
      );
      padding: 12px 35px;
      border-radius: 30px;
      color: white;
      font-weight: 700;
      margin-top: 15px;
      border: none !important;
      box-shadow: inherit !important;
      outline: none !important;
    }
  }
}
