footer {
  background: #001d4c !important;
  padding: 120px 0;
  @media only screen and (max-width: 991.98px) {
    padding-top: 50px;
  }
  @media only screen and (max-width: 767.98px) {
    padding-top: 0;
    padding-bottom: 50px;
  }
  .mr-top {
    margin-top: 50px;
  }
  .img-holder {
    margin-bottom: 30px;
  }
  p {
    color: #96aac1;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      color: #96aac1;
      display: flex;
      margin-top: 30px;
      h5 {
        color: white !important;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: $darkCol;
        margin-bottom: 10px;
        font-size: 18px;
      }
      i {
        margin-right: 20px;
        font-size: 30px;
        color: white;
      }
    }
  }
  .f-links {
    h4 {
      color: white;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 22px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        margin-top: 0;
        margin-bottom: 15px;
        z-index: 1;
        padding-left: 20px;
        position: relative;
        &::after {
          position: absolute;
          left: 0;
          top: 12px;
          content: "";
          height: 6px;
          width: 6px;
          background: rgba(255, 255, 255, 0.4);
          z-index: 1;
          border-radius: 50%;
        }

        a {
          font-weight: 600;
          color: #96aac1;
          transition-delay: 0.1s;
          transition-duration: 0.5s;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .f-branches {
    background: rgba(255, 255, 255, 0.05);
    padding: 37px;
    border-bottom: 2px solid $mainCol;
    .branches {
      ul {
        li {
          display: flex;
          flex-direction: column;
          strong {
            margin-bottom: 5px;
            color: white;
          }
        }
      }
    }
  }
}
